.term-item{display:block; margin-bottom:10px; transition:transform .4s ease-in-out;}
.term-item:hover{transform:translateY(5px);}
.term-thumb img{display:inline-block; max-width:calc(100% - 10px); margin:5px;}
.term-name{margin:5px; padding:10px; background-color:#337ab7; color:#fff;}
div[class*="post-terms-slider"] .slick-track{margin-bottom:50px;}
div[class*="posts-custom-slider"] .slick-next, div[class*="posts-custom-slider"] .slick-prev{display:flex; align-items:center; justify-content:center; width:50px; height:50px; top:auto; bottom:0; right:auto!important; left:50%!important; font-size:60px; color:#00a69c;}
div[class*="posts-custom-slider"] .slick-next{left:calc(50% - 50px)!important;}
div[class*="posts-custom-slider"] .slick-prev{left:50%!important;}
div[class*="post-terms-slider"] .slick-dots{margin-top:0; padding:0;}
.slick-dots .slick-dot {opacity:0.5;}
.slick-dots .slick-dot:hover, .slick-dots .slick-active .slick-dot{opacity:1;}